/* 초기화 */
html, body{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: pretendard;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, dl, dt, dd{
    padding: 0;
    margin: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #000;
}
i,em{
    font-style: normal;
}
figcaption,figure{
    margin: 0;
    padding: 0;
}

/* h1폰트 */
@font-face{
    font-family: Nico;
    src: url(../static/fonts/Nico-Moji.ttf.woff) format('woff');
}
/* 기본 폰트 */
@font-face{
    font-family: Pretendard;
    font-weight: 300;
    src: url(../static/fonts/Pretendard-Thin.woff2) format('woff2');
}
@font-face{
    font-family: Pretendard;
    font-weight: 400;
    src: url(../static/fonts/Pretendard-Light.woff2) format('woff2');
}
@font-face{
    font-family: Pretendard;
    font-weight: 500;
    src: url(../static/fonts/Pretendard-Medium.woff2) format('woff2');
}
@font-face{
    font-family: Pretendard;
    font-weight: 600;
    src: url(../static/fonts/Pretendard-Regular.woff2) format('woff2');
}
@font-face{
    font-family: Pretendard;
    font-weight: 700;
    src: url(../static/fonts/Pretendard-SemiBold.woff2) format('woff2');
}
@font-face{
    font-family: Pretendard;
    font-weight: 800;
    src: url(../static/fonts/Pretendard-ExtraBold.woff2) format('woff2');
}
/* 노토산스 */
@font-face {
    font-family: "Noto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
}
@font-face {
    font-family: "Noto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
}
@font-face {
    font-family: "Noto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
}
/* 공통 버튼효과 - dark */
.over-btn{
    background-position: 50% 50%;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: radial-gradient(circle farthest-corner at center center, #00000033 0%, #00000033 50%, transparent 50.1%);
}
.over-btn:hover{
    background-size: 200% 400%;
}
/* 공통 버튼효과 - ligth */
.over-btn-l{
    background-position: 50% 50%;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: radial-gradient(circle farthest-corner at center center, #ffffff18 0%, #ffffff18 50%, transparent 50.1%);
}
.over-btn-l:hover{
    background-size: 200% 400%;
}