.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    background-color: #e9e9e9;
    min-height: 65vh;
    gap: 2rem;
}
/* 상단 메뉴 아이템 */
.items-area {
    margin-top: 4rem;
}
.items-area ul {
    width: 508px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
/* 메뉴아이템 unit */
.lnb-unit {
    flex-shrink: 0;
    width: 236px;
    height: 146px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 8px 13px 13px 6px;
    box-sizing: border-box;
    font-family: Pretendard;
    font-weight: 400;
    cursor: var(--pointer);
}
/* 메뉴 아이템 마우스 오버 */
.lnb-unit:hover {
    box-shadow: var(--shadow-more);
}
/* unit 구분 */
.lnb-part {
    font-size: 1.6rem;
}
/* unit 아이콘 */
.lnb-icon {
    font-size: 80px;
    line-height: 70px;
    text-align: center;
}
/* 메뉴 아이템 마우스 오버 */
.lnb-unit:hover .lnb-icon {
    animation: swing-ani 0.3s linear infinite;
}
@keyframes swing-ani {
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}
/* unit 이름 */
.lnb-tit {
    text-align: center;
}
.lnb-tit span:first-child {
    position: relative;
    font-size: 2.4rem;
    font-weight: 600;
    z-index: 1;
    /* 이름 밑줄 */
    background-repeat: no-repeat;
    background-size: 0% 30%;
    background-position: bottom left;
    transition: 0.3s ease-in-out;
}

/* 메뉴 아이템 마우스 오버 */
.lnb-unit:hover .lnb-tit span:first-child {
    background-size: 100% 30%;
}
/* unit 별표 */
.lnb-tit span + span {
    position: absolute;
}

/* 하단 보여주기창 */
.view-area {
    display: flex;
    width: 508px;
    margin: 0 auto;
    font-family: Pretendard;
    font-weight: 400;
    margin-bottom: 2rem;
}
.selected-view {
    position: relative;
    width: 310px;
    height: 194px;
    border-radius: 10px;
    background-color: #fff;
    padding: 18px 21px;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 500;
}
/* 선택상품 없는 경우 */
.sel-null {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2.4rem;
    color: #bbb;
    line-height: 1.5;
}
/* 선택상품 있는 경우 */
.sel-group{
    padding: .4rem 0;
}
.sel-cnt {
    float: right;
    font-family: Pretendard;
    font-weight: 500;
    font-size: 1.8rem;
    cursor: var(--pointer);
}
.sel-cnt:hover{
    color: var(--coral);
    font-weight: 700;
}
.alert-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 23px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    background-color: #ff00007e;
    color: #303030;
    line-height: 1.3;
}
/* 하단 정보와 버튼 */
.info-view {
    margin-left: 16px;
    width: 183px;
    height: 194px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 남은시간 */
.timer {
    width: 89px;
    height: 66px;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}
/* 남은시간 숫자 */
.timer em {
    color: #ff7144;
    font-weight: 700;
}
.main-btn {
    border-radius: 10px;
    box-shadow: 0 2px 3px #00000033;
    text-align: center;
    cursor: var(--pointer);
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}
/* 멈춤버튼 */
/* 플레이버튼 */
.pause-btn {
    width: 60px;
    height: 59px;
    background-color: cornflowerblue;
    color: #fff;
    line-height: 62px;
}
/* 삭제버튼 */
.del-btn {
    width: 183px;
    height: 50px;
    background-color: #afafaf;
    line-height: 50px;
    margin-top: 13px;
}
/* 주문버튼 */
.order-btn {
    width: 183px;
    height: 50px;
    background-color: #666;
    line-height: 50px;
    margin-top: 15px;
}

@media screen and (max-width: 750px) {
}
@media screen and (max-width: 600px) {
    .main {
        width: 95%;
    }
    /* 상단 메뉴 아이템 */
    .items-area {
        margin-top: 3rem;
    }
    .items-area ul {
        width: 90%;
        gap: 2rem;
    }
    /* 메뉴아이템 unit */
    .lnb-unit {
        max-width: 236px;
        width: calc((100% - 2rem) / 2);
        height: auto;
        padding: 8px;
    }
    /* unit 타이틀 */
    .lnb-tit span:first-child {
        font-size: 2rem;
    }
    /* 하단 보여주기창 */
    .view-area {
        width: 90%;
        gap: 2rem;
    }
}
@media screen and (max-width: 500px) {
    /* 하단 정보와 버튼 */
    .info-view {
        margin-left: 0;
        width: 40%;
        margin-left: 0;
        justify-content: space-between;
    }
    .selected-view {
        font-size: 1.6rem;
    }
    /* 선택상품 없는 경우 */
    .sel-null {
        font-size: 1.8rem;
    }
    /* 남은시간 */
    .timer {
        width: 70px;
        height: 49px;
        font-size: 2rem;
        line-height: 1.4;
    }
    /* 플레이버튼 */
    .pause-btn {
        width: 40px;
    }
    /* 주문버튼 */
    .order-btn {
        font-size: 2.2rem;
    }
}
